{% extends 'base.html' %}


{%block head%}
<title>Home</title>
{%endblock%}


{%block body%}
<h1 id="title">Expenses Tracker</h1>
<div class="container">
   <div class="row">
    <div class="col-md-8 text-center">
        {% if expenses|length < 1 %}
        <h4>No expenses recorded yet.</h4>
        {% else %}
        <table class="table">
        <tbody>
            <tr>
                <th>Amount</th>
                <th>Category</th>
                <th>Notes</th>
                <th>Actions</th>
            </tr>
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.amount }}</td>
                <td>{{ expense.category }}</td>
                <td>{{ expense.notes }}</td>
                <td>
                    <a class="btn btn-outline-info m-1" href="/update/{{ expense.id }}">Update</a>
                    <br>
                    <a class="btn btn-outline-danger m-1" href="/delete/{{ expense.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {%endif%}
</div>
       <div class="col-md-4 mt-4">
        <form  method="POST">
            <div class="mb-3">
            
            <div class="form-floating mb-3">
            <input class="form-control" required type="text" name="amount" id="amount">
            <label for="amount">Amount:</label>
            </div>
            <div class="form-floating mb-3">
            <input class="form-control" required type="text" name="category" id="category">
            <label for="category">Category:</label>
            </div>
            <div class="form-floating mb-3">
            <input class="form-control" type="text" name="notes" id="notes">
            <label for="notes">Notes:</label>
            </div>
            <input class="btn btn-success m-1" type="submit" value="Add Expense">
            </div>
        </form>
       </div>
   </div>
</div>


{%endblock%}